@font-face {
     font-family: "Cantarell";
     src: url('./Cantarell-VF.woff2') format('woff2');
     font-weight: 500 800;
     font-style: normal;
}

* {
    font-family: "Cantarell", sans-serif;
    color: black;
    word-wrap: break-word;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

body main {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main * {
    width: 90%;
}

h1 {
    font-weight: 800;
}

h2, h3 {
    font-weight: 700;
}

ol li {
    margin-bottom: 5px;
}
