<!DOCTYPE html>
<html lang="{{ site.lang | ru-RU }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}">
  {% seo %}
</head>
<body>
  <div class="adwaita-window">
    <aside class="adwaita-sidebar">
      <nav class="sidebar-navigation">
        <ul>
          <li>
            <a href="{{ '/' | relative_url }}" class="nav-item"
              style="font-weight: 800; font-size: 1.1rem; margin-bottom: 10px;">
              {{ 'Егор Гаврилов' | site.name }}
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <main class="adwaita-main">
      <section>
        {{ content }}
      </section>
    </main>
  </div>
</body>
</html>
